@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgb(50, 50, 50) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(25, 25, 25) 1px, transparent 1px);

  @apply bg-black
}

.red-deck {
  background: rgba(255, 0, 0, 0.2);
}

.orange-deck {
  background: rgba(255, 165, 0, 0.2);
}

.yellow-deck {
  background: rgba(255, 255, 100, 0.2);
}

.green-deck {
  background: rgba(0, 255, 0, 0.2);
}

.transparent-button {
  @apply text-white bg-transparent border border-solid border-gray-300 ring-0 p-2 flex items-center justify-center rounded
}

.transparent-button:hover {
  @apply border-2
}

.transparent-button:active {
  @apply border-4
}